---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
{{ if gt (len (split .Summary " --- ")) 1 -}}
subcategory: "{{ index (split .Summary " --- ") 0 }}"
{{- else -}}
subcategory: ""
{{- end }}
description: |-
{{ if gt (len (split .Summary " --- ")) 1 -}}
{{ index (split .Summary " --- ") 1 | plainmarkdown | trimspace | prefixlines "  " }}
{{- else -}}
{{ .Summary | plainmarkdown | trimspace | prefixlines "  " }}
{{- end }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/functions/%s/function.tf" .Name)}}

## Signature

{{ .FunctionSignatureMarkdown }}

## Arguments

{{ .FunctionArgumentsMarkdown }}

